tests/**/**/interactions_Synth_Monitor.csv
*.sw*
*~
bin/
build/
typescript/
temp/
vendor/
e2e_coverage/
node_modules/
.idea/
wfm_web.iml
reports/
node/
*.log
/target/
.settings/
.project
.classpath
velocity.log
*.iml
/.project
.DS_Store
e2e-component-coverage-conf.js
interactions1.csv
usermappings2.csv
kinesis.json